.main-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.titulo-termo{
    margin: 40px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(113, 64, 177);
}

.sub-titulo{
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(113, 64, 177);
}

.conteudo{
    margin: 20px;
    font-size: 16px;
    color: rgb(36, 35, 35);
}

.titulo{
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(113, 64, 177);
}

.icone{
    margin: 20px;    
}

.centralizar-imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
